* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background: #e0e1e1;
  height: 100%;
}

body.lock {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #808080;
}
/* .wrapperAll {
  max-width: 1180px;
  margin: 0 auto;
} */
.wrapper {
  margin: 0 auto;
  max-width: 1180px;
}

header {
  display: flex;
  justify-content: space-between;
  height: 83px;
  padding-top: 17px;
}

.headerLogo {
  width: 300px;
  height: 68px;
  line-height: 1.2em;
}

a.logo {
  font-size: 17px;
}

.adress {
  font-size: 12px;
}

.headerInfo {
  text-align: right;
  color: #808080;
}

.headerMainFon {
  background: #1e2b3c url(../Img/fon.jpg) repeat-x;
  height: 425px;
}

.headerMainInfo {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 0px 0px;
  grid-template-columns: 1fr 1fr 1fr;
  padding-right: 190px;
}

.squareRightInfo li {
  color: #fff;
  list-style: square;
  font-size: 14px;
  margin-left: 130px;
  margin-top: 25px;
}

.rubricator {
  width: 200px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 40px;
}

.rubricator li {
  list-style: none;
  padding: 15px 0 11px 34px;
}

.headerContentWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.slideWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.slide {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.slideWrapper {
  padding-top: 10px;
  max-width: 780px;
  height: 400px;
  margin: 0 auto;
  margin-left: 90px;
  position: relative;
}

/* .slideWrapper img {
  margin-left: 70px;
  width: 780px;
  height: 400px;
  position: absolute;
  transition: all ease 1s;
  left: 0;
  top: 15px;
} */

/* .headerContent img {
  width: 1000px;
  padding: 30px;
}

 */
.hotFon {
  height: 435px;
  background: rgb(152, 154, 156) url(../grayGradient.jpg) repeat-x;
}
.hotHeader {
  background: #0e84ac;
  padding: 5px;
}

.hotHeader h4 {
  max-width: 1180px;
  margin: 0 auto;
}

.hotWrapper {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.hotWrapper div img {
  width: 250px;
  height: 250px;
  border-radius: 250px;
}

.hotWrapper div p {
  text-align: center;
  font-size: 19px;
  font-weight: bold;
}

.slogan {
  text-align: center;
  font-size: 18px;
  color: #000;
  margin-left: 140px;
  padding: 10px;
}

.skidka {
  text-align: center;
  font-size: 16px;
  color: #000;
  margin-left: 350px;
}

.skidka img {
  width: 40px;
  height: 40px;
}

a:hover {
  color: aqua;
}

.aboutCompanyHeader {
  background: #0e84ac;
  padding: 5px;
}

.aboutCompanyFon {
  height: 200px;
  background: rgb(152, 154, 156) url(../grayGradient.jpg) repeat-x;
}

.aboutCompanyHeader div {
  max-width: 1180px;
  margin: 0 auto;
}

.aboutCompany {
  text-indent: 1.5em;
  font-size: 15px;
  max-width: 1180px;
  margin: 0 auto;
  padding-top: 15px;
}

.aboutCompanyContent {
  padding-left: 35px;
}

footer {
  height: 180px;
  background: #0d83ab;
}

.contacts {
  max-width: 1180px;
  margin: 0 auto;
  font-size: 17px;
  font-weight: bold;
  padding: 10px;
}
.contactsInfo {
  line-height: 1.8em;
  max-width: 1180px;
  margin: 0 auto;
  font-size: 14px;
}
.mapFon {
  height: 370px;
  background: rgb(152, 154, 156) url(../grayGradient.jpg) repeat-x;
}

.mapHeader {
  background: #0e84ac;
  padding: 5px;
}

.mapHeader h4 {
  max-width: 1180px;
  margin: 0 auto;
}

.map {
  text-indent: 1.5em;
  font-size: 18px;
  max-width: 1180px;
  margin: 0 auto;
  padding-top: 15px;
}

.aboutCompanyPlan .plan img {
  width: 1100px;
  height: 900px;
}

.aboutCompanyPlan .plan {
  display: flex;
  justify-content: center;
}

.aboutCompanyPlanFon {
  height: 1000px;
  background: rgb(152, 154, 156) url(../grayGradient.jpg) repeat-x repeat-y;
}

.aboutCompanyPlan {
  text-indent: 1.5em;
  font-size: 15px;
  width: 1180px;
  margin: 0 auto;
  padding-top: 15px;
}

.aboutCompanyDocsFon {
  height: 350px;
  background: rgb(152, 154, 156) url(../grayGradient.jpg) repeat-x repeat-y;
}

.aboutCompanyDocs .docs {
  text-indent: 1.5em;
  font-size: 15px;
  max-width: 1180px;
  margin: 0 auto;
  padding-top: 15px;
}

.aboutCompanyDocs a {
  color: #000;
  font-size: 20px;
  line-height: 2em;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popupContent {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.popupArea {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popupBody {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  transition: all 0.8s ease 0s;
}
.popupContent {
  background: #fff;
  color: #000;
  max-width: 800px;
  padding: 30px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popupContentImage {
  padding: 0;
}
.popupImage img {
  max-width: 100%;
  vertical-align: top;
}
.popupClose {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}
.popupTitle {
  font-size: 40px;
  margin: 0px 0px 16px 0px;
}

.popupText {
  font-size: 18px;
}

.popupText a {
  color: #000;
  font-style: italic;
}

.popupText a:hover {
  color: aqua;
}

@media screen and (max-width: 1200px) {
  .wrapperAll {
    max-width: 970px;
    padding: 0 30px;
  }
  .wrapper {
    max-width: 900px;
  }
  /* .map {
    max-width: 900px;
  } */
  .mapHeader h4,
  .aboutCompanyHeader div,
  .hotHeader h4 {
    width: 900px;
  }
  .slideWrapper {
    padding-top: 35px;
    max-width: 480px;
    margin: 0 auto;
  }
  .headerMainInfo {
    max-width: 900px;
    margin: 0 auto;
    padding-right: 100px;
  }
  .rubricator {
    margin-right: 90px;
  }

  .squareRightInfo li {
    color: #fff;
    list-style: square;
    font-size: 14px;
    margin-left: 80px;
    margin-right: 15px;
    padding-top: 5px;
    margin-top: 20px;
  }
  /* body.lock {
      padding-left: 184px;
    } */
  .aboutCompany {
    max-width: 900px;
    margin: 0 auto;
  }

  iframe {
    max-width: 900px;
  }

  .contacts {
    max-width: 900px;
    margin: 0 auto;
  }
  .contactsInfo {
    max-width: 900px;
    margin: 0 auto;
    padding: 15px;
  }

  .aboutCompanyFon {
    height: 230px;
  }
}
@media screen and (max-width: 992px) {
  .wrapperAll {
    max-width: 750px;
    padding: 0 30px;
  }
  .wrapper {
    max-width: 690px;
  }

  .mapHeader h4,
  .aboutCompanyHeader div,
  .hotHeader h4 {
    width: 700px;
  }

  .slideWrapper {
    padding-top: 90px;
    max-width: 280px;
    margin: 0 auto;
  }
  .headerMainInfo {
    max-width: 700px;
    margin: 0 auto;
    padding-right: 100px;
  }
  .rubricator {
    margin-right: 55px;
  }

  .squareRightInfo li {
    color: #fff;
    list-style: square;
    font-size: 14px;
    margin-left: 60px;
    margin-right: 15px;
    padding-top: 5px;
    margin-top: 20px;
  }
  .aboutCompany {
    max-width: 700px;
    margin: 0 auto;
  }
  /* .map {
    max-width: 650px;
  } */
  iframe {
    max-width: 650px;
  }

  .contacts {
    max-width: 700px;
    margin: 0 auto;
  }
  .contactsInfo {
    max-width: 700px;
    margin: 0 auto;
    padding: 15px;
  }

  .slogan {
    font-size: 16px;
  }

  .skidka {
    font-size: 14px;
  }

  .aboutCompanyFon {
    height: 230px;
  }

  .hotWrapper {
    max-width: 700px;
  }
  .hotWrapper div img {
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 767px) {
  .wrapperAll {
    max-width: none;
  }

  .adress,
  .headerInfo {
    display: none;
  }

  .logo a {
    float: center;
  }

  header {
    justify-content: center;
  }

  .headerMainInfo {
    display: flex;
    justify-content: center;
    padding-right: 0;
  }
  .squareRightInfo {
    display: none;
  }
  .slogan,
  .skidka {
    margin-left: 0;
  }
  .slogan {
    font-size: 14px;
  }
  .skidka {
    font-size: 12px;
  }
  .hotFon {
    height: 100%;
    background: repeat-y;
  }
  .hotWrapper {
    display: block;
  }
  .hotWrapper div img {
    width: 200px;
    height: 200px;
  }
  .aboutCompanyFon {
    height: 100%;
    background: repeat-y;
  }
  /* .map {
    max-width: 250px;
  } */
  iframe {
    max-width: 220px;
    max-height: 250px;
  }

  /* .popupBody {
    justify-content: flex-start;
  } */

  footer {
    height: 100%;
  }
}
